[submodule "Vulkan-Loader"]
	path = Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "swiftshader"]
	path = swiftshader
	url = https://github.com/google/swiftshader.git
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Vulkan-ValidationLayers"]
	path = Vulkan-ValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
